<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd    
        http://www.springframework.org/schema/context     
        http://www.springframework.org/schema/context/spring-context.xsd    
        http://www.springframework.org/schema/mvc     
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"  
    default-autowire="byName">
    	<bean id="userDao" class="com.sk.aop.logger.UserDao"></bean>
		<bean id="userBiz" class="com.sk.aop.logger.UserBiz">
		    <property name="userDao" ref="userDao"></property>
		</bean>
		<bean id="mylogger" class="com.sk.aop.logger.MyLogger"></bean>
	<aop:config>
	    <aop:pointcut id="pointcut" expression="execution(* com.sk.aop.logger.UserBiz.f*(..))" />
	    <aop:aspect  ref="mylogger">
	        <aop:before  method="myBefore"  pointcut-ref="pointcut" />
	        <aop:after method="myAfter" pointcut-ref="pointcut"/>
	    </aop:aspect>
</aop:config>
		

</beans>
